body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    display: flex;
}

#secret-help-btn {
    color: white;
    margin-top: 10px;
    text-align: center;
}

#helpInput, button {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    width: 50%;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}
